body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #004080;
    color: white;
    padding: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;

}

.landmark-logo {
    width: 100px;
    height: auto;
}

.department-info {
    text-align: center;
    flex: 2;
}

.department-info h1 {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}

.department-info h2, .department-info h3 {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: normal;
}

.emblem-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.india-emblem {
    width: 70px;
    height: auto;
}

nav {
    margin-top: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    gap: 20px;
}

.video-section, .satellite-section, .minister-section {
    flex: 1;
    text-align: center;
}

video {
    width: 100%;
    max-width: 300px;
    border: 2px solid #004080;
    border-radius: 8px;
}

.satellite-image, .minister-image {
    width: 80%;
    width: 250px;
    border-radius: 8px;
    border: 2px solid #004080;
    margin-bottom: 10px;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
